<div class="p-3 pe-5">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="fw-bold mb-0">Farmers</h3>
    <button class="btn asigmabutton me-3" (click)="newfarmer()">
      Profile a farmer
    </button>
  </div>
  <div class="row p-3">
    <div class="col-md-3">
      <div class="row asigmacard">
        <div class="col-8">
          <p class="text-left p-3 pb-0 mb-0">Farmers</p>
          <h2 class="text-left p-3 pt-0 mt-0">1,404</h2>
        </div>
        <div class="col-4">
          <h1 class="cardicon">
            <span class="asigmacardicon bi bi-people-fill"></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row asigmacard">
        <div class="col-8">
          <p class="text-left p-3 pb-0 mb-0">Male Farmers</p>
          <h2 class="text-left p-3 pt-0 mt-0">1,267</h2>
        </div>
        <div class="col-4">
          <h1 class="cardicon">
            <span class="asigmacardicon bi bi-person-fill"></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row asigmacard">
        <div class="col-8">
          <p class="text-left p-3 pb-0 mb-0">Female Farmers</p>
          <h2 class="text-left p-3 pt-0 mt-0">137</h2>
        </div>
        <div class="col-4">
          <h1 class="cardicon">
            <span class="asigmacardicon bi bi-person-fill"></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row asigmacard">
        <div class="col-8">
          <p class="text-left p-3 pb-0 mb-0">Youth Farmers</p>
          <h2 class="text-left p-3 pt-0 mt-0">954</h2>
        </div>
        <div class="col-4">
          <h1 class="cardicon">
            <span class="asigmacardicon bi bi-person-fill"></span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white p-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-4 position-relative">
          <i
            class="bi bi-search position-absolute p-3"
            style="left: 0px; top: 50%; transform: translateY(-50%)"
          ></i>
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
            style="padding-left: 30px"
          />
        </div>
        <div class="col-md-8 text-end">
          <button class="btn btn-outline-secondary">
            <span class="bi bi-funnel-fill"></span>
          </button>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Farmer Name</th>
            <th>District</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>NIN</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let farmer of farmerList">
            <td class="border-0">
              <div class="checkbox border-0">
                <input type="checkbox" />
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-md-3">
                  <div class="m-1 smallicon rounded-2">
                    <span class="bi bi-person-fill text-white"></span>
                  </div>
                </div>
                <div class="col-md-9">
                  <div>{{ farmer.firstname }} {{ farmer.lastname }}</div>
                  <div style="font-size: 0.9em; color: gray">
                    (Code: {{ farmer.code }})
                  </div>
                </div>
              </div>
            </td>
            <td>{{ farmer.district }}</td>
            <td>{{ farmer.gender }}</td>
            <td>{{ calculateAge(farmer.yearOfBirth) }}</td>
            <td>{{ farmer.primaryTelephone }}</td>
            <td>{{ farmer.nationalIdNumber }}</td>
            <td>
              <button class="btn border-0">
                <span class="bi bi-eye h4"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
